ffmpeg-python                 
munkres                       
numpy <= 1.23.0                     
nvidia-tensorrt==8.4.1.5             
onnx                          
onnx-simplifier               
onnxruntime                  
onnxsim                       
opencv-python                 
packaging                     
setuptools
torch                                     
torchaudio                    
torchvision           
pandas        
pyyaml
tqdm
matplotlib
timm
scipy
lap
Cython
psutil
ultralytics
cython-bbox
